<div>
  <div class="py-4 border-t">
    <%= form_with(model: [commentable, commentable.comments.build]) do |form| %>
      <%= form.rich_text_area :words, id: "editor", class: "input" %>
      <%= form.error_for :words, class: "text-sm text-red-500" %>

      <div class="mt-10 mb-6">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
