<div class="flex flex-wrap">

  <div class="w-full max-w-lg mx-auto pr-0 sm:my-6">
    <div class="bg-gray-800 border-gray-700 shadow rounded-b-lg sm:rounded-lg px-8 py-2 sm:py-4">
      <%= yield :primary_content %>
    </div>
  </div>

</div>
