<section class="text-gray-300 bg-gray-900 body-font">
  <div class="container px-5 py-2 mx-auto">
    <div class="flex pl-4 mt-4 w-full mx-auto">
      <h1 class="text-2xl sm:text-3xl font-medium title-font text-white">Projects</h1>
    </div>

    <div class="mt-2 w-full mx-auto">
      <%= render "projects/table", projects: @projects, order_by: @order_by, sort: @direction %>
      <%= render(PaginateComponent.new(pagy: @pagy, root: ".container")) %>
    </div>
  </div>
</section>
