<section class="text-gray-500 bg-gray-900 body-font">
  <div class="container px-5 py-4 mx-auto">
    <div class="flex pl-4 mt-4 w-full mx-auto mb-6">
      <h1 class="text-3xl font-medium title-font text-white">Projects</h1>
      <button class="flex ml-auto btn btn-primary btn-primary:hover">Create project</button>
    </div>

    <div class="w-full mx-auto overflow-auto">
      <%= render "projects/table", projects: @projects, order_by: @order_by, sort: @direction %>
      <%= render "shared/paginator" if @pagy.pages > 1 %>
    </div>
  </div>
</section>
