@import 'tailwindcss/base';
@import 'tailwindcss/components';
//
// custom components
//
@import 'components/buttons';
@import 'components/forms';
@import 'components/links';
//
// end custom components
//
@import 'tailwindcss/utilities';

//
// Add ActionText css
//
@import "trix/dist/trix";

.trix-content {
  line-height: 1.5;
  * {
    @apply box-border m-0 p-0; }
  h1 {
    @apply text-2xl leading-5; }
  blockquote {
    @apply border-0 border-solid border-gray-400;
    border-left-width: 0.3em;
    margin-left: 0.3em;
    padding-left: 0.6em; }
  [dir=rtl] blockquote,
  blockquote[dir=rtl] {
    border-width: 0;
    border-right-width: 0.3em;
    margin-right: 0.3em;
    padding-right: 0.6em; }
  li {
    margin-left: 1em; }
  [dir=rtl] li {
    margin-right: 1em; }
  pre {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    font-family: monospace;
    font-size: 0.9em;
    padding: 0.5em;
    white-space: pre;
    background-color: #eee;
    overflow-x: auto; }
  img {
    max-width: 100%;
    height: auto; }
  .attachment {
    display: inline-block;
    position: relative;
    max-width: 100%; }
    .attachment a {
      color: inherit;
      text-decoration: none; }
      .attachment a:hover, .attachment a:visited:hover {
        color: inherit; }
  .attachment__caption {
    text-align: center; }
    .attachment__caption .attachment__name + .attachment__size::before {
     ontent: ' · '; }
  .attachment--preview {
    width: 100%;
    text-align: center; }
    .attachment--preview .attachment__caption {
      color: #666;
      font-size: 0.9em;
      line-height: 1.2; }
  .attachment--file {
    color: #333;
    line-height: 1;
    margin: 0 2px 2px 2px;
    padding: 0.4em 1em;
    border: 1px solid #bbb;
    border-radius: 5px; }
  .attachment-gallery {
    > action-text-attachment,
    > .attachment {
      flex: 1 0 33%;
      padding: 0 0.5em;
      max-width: 33%;
    }

    &.attachment-gallery--2,
    &.attachment-gallery--4 {
      > action-text-attachment,
      > .attachment {
        flex-basis: 50%;
        max-width: 50%;
      }
    }
  }

  action-text-attachment {
    .attachment {
      padding: 0 !important;
      max-width: 100% !important;
    }
  }
}

trix-toolbar {
  .trix-button {
    background-color: #e2e8f0;
  }
}
