@import 'tailwindcss/base';
@import 'tailwindcss/components';
//
// custom components
//
@import 'components/buttons';
@import 'components/forms';
@import 'components/links';
//
// end custom components
//
@import 'tailwindcss/utilities';

//
// Add ActionText css
//
@import "trix/dist/trix";

.trix-content {
  .attachment-gallery {
    > action-text-attachment,
    > .attachment {
      flex: 1 0 33%;
      padding: 0 0.5em;
      max-width: 33%;
    }

    &.attachment-gallery--2,
    &.attachment-gallery--4 {
      > action-text-attachment,
      > .attachment {
        flex-basis: 50%;
        max-width: 50%;
      }
    }
  }

  action-text-attachment {
    .attachment {
      padding: 0 !important;
      max-width: 100% !important;
    }
  }
}

trix-toolbar {
  .trix-button {
    background-color: #e2e8f0;
  }
}
