<%= link_to path, class: "flex title-font font-medium items-center text-white mb-4 md:mb-0" do %>
  <%= render_svg("bug", styles: "w-10 h-10 text-white p-2 bg-red-500 rounded-full") %>
  <span class="ml-3 text-xl">Bug Tracker</span>
<% end %>
