<%= link_to path, class: "flex font-medium items-center text-white" do %>
  <%= render_svg("bug", styles: "h-10 text-white p-2 bg-red-500 rounded-full") %>
  <span class="ml-3 text-xl">Bug Tracker</span>
<% end %>
