<%= link_to path, class: "flex font-medium items-center border-2 rounded focus:outline-none focus:border-white border-transparent text-white" do %>
  <%= render_svg("bug", styles: "h-10 text-white p-2 bg-green-600 rounded-full") %>
  <span class="ml-3 text-xl">Bug Tracker</span>
<% end %>
